body{
    background-color: rgb(63, 61, 61);
}
h1{
    font-size: 3rem;
    text-align: center;
    color:white;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li{
    list-style-type: none;
   
    background-color: white;
    margin: 2rem;
    width: 300px;
    border-radius: 12px;

}
img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
h2,p{
    text-align: center;
   
}
a{
    display: block;
    text-align: center;
}